<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sportsfire.exposure"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.sportsfire.exposure.androidwheel.MyApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sportsfire.exposure.IntroActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sportsfire.exposure.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.SportsFireExposure"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.Quit"
            android:label="@string/Quit" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.About"
            android:label="@string/Quit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.TimeActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.androidwheel.TeamMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.androidwheel.PlayerMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.androidwheel.TeamViewActivity"
            android:theme="@style/Theme.fly2think" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.androidwheel.WheelActivity"
            android:theme="@style/Theme.fly2think" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.colour.ColorGridActivity"
            android:theme="@style/Theme.fly2think" >
        </activity>
        <activity
            android:name="com.sportsfire.exposure.androidwheel.InputPlayer"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.sportsfire.exposure.androidwheel.PlayerViewActivity"
            android:theme="@style/Theme.fly2think" >
        </activity>
        <activity
            android:name="com.sportsfire.sync.AuthenticatorActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>

        <service
            android:name="com.sportsfire.sync.AuthenticationService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="com.sportsfire.sync.SyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name="com.sportsfire.unique.Provider"
            android:authorities="com.sportsfire.unique.exposure.Provider"
            android:exported="true"
            android:multiprocess="true" >
        </provider>
    </application>

</manifest>